.btn {
    border: 2px solid var(--color4);
    outline: none;
    background-color: white;
    color: var(--color4);
    padding:1rem;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 2rem;
    transition: 0.2s ease-out;
    font-weight: 600;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--color4);
    color: white;
}

.del-btn {
    border-color: red;
}
.del-btn:hover {
    background-color: red;
    border-color: var(--color1);
    color: var(--color1);
}

