/* Main Page */
/* header */
header {
    padding: 1rem 4rem;
    min-height: 3rem;
}

header>a {
    text-decoration: none;
    font-size: 2.5rem;
}
.main-name{
    color: var(--color4);
}

.buttons {
    display: flex;
    gap: 2rem;
}

.buttons>a {
    font-size: 1.5rem;
}

@media (max-width:380px) {
    header>a {
        font-size: 1.5rem;
    }

    .buttons>a {
        font-size: 0.9rem !important;
    }

    .buttons {
        gap: 1rem !important;
    }
}

/* main-section */

.main-section {
    gap: 3rem;
    margin-bottom: 10rem;
}

.decoration::before {
    content: '';
    position: absolute;
    left: -2rem;
    z-index: -1;
    width: 25rem;
    height: 6rem;
    background-color: var(--color2);
    transform: rotate(-5deg);
}

.b {
    color: #000;
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 7rem;
    position: relative;
    z-index: 0;
}

.parag {
    color: var(--color4);
    font-size: 3.2rem;
    letter-spacing: -0.16rem;
    margin: 2rem 0rem;
}

.shop-now {
    font-size: 3rem;
    letter-spacing: -0.15rem;
    margin: 2rem;
}

@media (max-width:380px) {
    .main-section>img {
        display: none;
    }

    .main-section {
        margin-bottom: 13rem;
    }

    .decoration::before {
        width: 24rem;
        height: 7rem;
    }

    .b {
        font-size: 5rem;
        font-weight: 700;
    }

    .parag {
        font-size: 2.5rem;
    }

    .shop-now {
        font-size: 2rem;
    }
}

/* Product Section */

.heading-of-products {
    color: var(--color4);
    text-align: center;
    font-size: 4.6rem;
}

.discription {
    color: #8A8A8A;
    text-align: center;
    max-width: 61.4rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    /* 162.5% */
}

.filter>div {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 100%;
    /* 1.6rem */
}

.ranges-div {
    width: 80%;
    margin: 3rem auto;
}


.active{
    background-color: var(--color1);
    border-color:var(--color1) ;
    color: var(--color3);
}

.size-range,
.rating-range,
.price-range {
    gap: 1rem;
}

.size-range input,
.rating-range input,
.price-range input {
    outline: none;
    border-radius: 1rem;
    border: 1px solid gray;
    height: 2.5rem;
    padding-left: 2rem;
}

.products-container {
    width: 90%;
    margin: 3rem auto ;
    gap: 4%;
    
    color: white;
}

.card-product {
    background-color: var(--color4);
    width: 30%;
    padding: 1rem;
    margin-bottom: 2rem;
}

.card-content{
    padding: 1.5rem 0.5rem;
}

.img-container-product{
    width: 90%;
    height: 60%;
}

.card-img-top{
    width: 100%;
}

.link-to-product-page{
    color: var(--color1);
    text-decoration: underline 2px var(--color2);
    transition: 0.1s ease-in-out;
}

.link-to-product-page:hover {
    color: var(--color2);
    text-decoration: none;
    transform: scale(1.05);
}

.name p {
    font-size: 2rem;
    transition: 0.1s ease-in-out;
}
.name-of-product:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.category {
    font-size: 1.2rem !important;
    line-height: 1.2rem !important;
}

.price {
    font-size: 2.4rem;
    line-height: 2rem;
    letter-spacing: -0.024rem;
}

@media (max-width:380px) {
    .heading-of-products {
        font-size: 3rem;
    }

    .discription {
        font-size: 1.2rem;
    }

    .card-product {
        width: 45%;
        margin-bottom: 2rem;
    }

    .price {
        font-size: 1.7rem;
        margin-right: 2rem;
    }
}

.circle {
    width: 2rem;
    height: 2rem;
    background-color: rgb(130, 67, 67);
    color: white;
    border-radius: 50%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.page-number {
    margin: 10rem;
    display: flex;
    gap: 2rem;
}

/* Footer */

footer {
    background-color: #000;
    color: #8E8E8E;
    padding: 2rem;
    gap: 2rem;
}

.info {
    gap: 1rem;
}

.info>h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.12rem;
}

.info>h2>a {
    text-decoration: none;
    color: #FFF;
}

.icon {
    width: 5.2rem;
    height: 5.2rem;
    background-color: #191818;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.icon:hover {
    background-color: #e4e4e4;
    color: #151515;
}

.icon a {
    text-decoration: none;
}

.icon svg {
    width: 2.3rem;
    height: 2.8rem;
    color: #8A8A8A;
}

.footer-divs>h5 {
    color: #D9D9D9;
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 3rem;
    /* 166.667% */
    letter-spacing: 0.048rem;
}

.footer-divs>a {
    text-decoration: none;
    color: #8E8E8E;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 4rem;
    letter-spacing: 0.048rem;
}

@media (max-width:380px) {
    .footer {
        gap: 5rem;
    }

    .icon {
        width: 4rem;
        height: 4rem;
    }

    .icon svg {
        width: 1.7rem;
        height: 1.7rem;
    }
}



/* classes */

.d-flex {
    display: flex;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-20 {
    width: 20%;
}

.p-1 {
    padding: 0.5rem;
}

.p-2 {
    padding: 1rem;
}

.p-3 {
    padding: 2rem;
}
.p-4{
    padding: 3rem;
}

.p-5 {
    padding: 4rem;
}

.ms-5 {
    margin-left: 4rem;
}
.mt-2{
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 3rem;
}

.mt-5 {
    margin-top: 4rem;
}

.mb-3 {
    margin-bottom: 2rem;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}
.align-items-start{
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.fw-bold {
    font-weight: bold;
}

.flex-column {
    flex-direction: column;
}


.rounded-3 {
    border-radius: 1.5rem;
}